<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>fileTypes</key>
    <array>
      <string>rct</string>
    </array>
    <key>$schema</key>
    <string>https://raw.githubusercontent.com/martinring/tmlanguage/master/tmlanguage.json</string>
    <key>name</key>
    <string>ReCT</string>
    <key>patterns</key>
    <array>
      <dict>
        <key>include</key>
        <string>#keywords</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#variables</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#packages</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#comments</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#numbers</string>
      </dict>
      <dict>
        <key>include</key>
        <string>#strings</string>
      </dict>
    </array>
    <key>repository</key>
    <dict>
      <key>keywords</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>keyword.control.rect</string>
            <key>match</key>
            <string>\b(try|catch|break|continue|for|return|to|while|do|die|from)\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.other.rect</string>
            <key>match</key>
            <string>\b(acs|var|set|if|else|function|class|true|false|make|array|object)\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>comment.rect</string>
            <key>match</key>
            <string>(#attach|#copy|#copyFolder)\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.other.unit.rect</string>
            <key>match</key>
            <string>\b(\?|tcpsocketArr|tcplistenerArr|tcpclientArr|tcpsocket|tcplistener|tcpclient|any|bool|int|string|void|float|thread|anyArr|boolArr|intArr|stringArr|floatArr|threadArr)\b</string>
          </dict>
          <dict>
            <key>name</key>
            <string>keyword.other.rect</string>
            <key>match</key>
            <string>\b(package|namespace|type|use|dll)\b</string>
          </dict>
        </array>
      </dict>
      <key>variables</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>variable.name.rect</string>
            <key>match</key>
            <string>\b((\w+(?=\s+&lt;-))|(\w+(?=\s+-&gt;))|(?&lt;=\:\:)\w+|(?&lt;=&gt;&gt;\s)\w+)\b</string>
          </dict>
        </array>
      </dict>
      <key>packages</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>variable.language</string>
            <key>match</key>
            <string>\b((\w+)((?=\:\:))|(?&lt;=package\s)(\w+)|(?&lt;=use\s)(\w+)|(?&lt;=package\sdll\s)(\w+))\b</string>
          </dict>
        </array>
      </dict>
      <key>comments</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>comment.line.rect</string>
            <key>match</key>
            <string>//.*$</string>
          </dict>
          <dict>
            <key>name</key>
            <string>comment.block.rect</string>
            <key>match</key>
            <string>/\*(.*?)\*/</string>
          </dict>
        </array>
      </dict>
      <key>numbers</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>name</key>
            <string>constant.numeric</string>
            <key>match</key>
            <string>\b\d+\b</string>
          </dict>
        </array>
      </dict>
      <key>strings</key>
      <dict>
        <key>name</key>
        <string>string.quoted.double.rect</string>
        <key>begin</key>
        <string>"</string>
        <key>end</key>
        <string>"</string>
      </dict>
    </dict>
    <key>scopeName</key>
    <string>source.rct</string>
  </dict>
</plist>